# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache folders
.cache/
*/.cache/
**/.cache/

# large files - especialmente importante
*.pack
**/*.pack
*.chunk.js.map
**/*.chunk.js.map
*.pack.old
**/*.pack.old

# environment variables
.env


# Copias de seguridad y archivos temporales
*copia*
*.local